<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="label">
          <p>Films Library</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">

              <div class="adding">
                <div class="icon">
                  <p *ngIf="!blogState"><i class="fas fa-plus-circle"></i></p>
                  <p *ngIf="blogState"><i class="fas fa-minus-circle"></i></p>
                </div>
                <div class="link-add">
                  <p (click)="showAdd()">Add a new film</p>
                </div>

              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<div class="add-form" *ngIf="blogState">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="form-container">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col md-5">
                <div class="form-wrap">
                  <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label>Title</label>
                      <input class="form-control" name="title" #title="ngModel" [(ngModel)]="item.title"  required>
                    </div>
                    <div class="form-group">
                      <label>Year</label>
                      <input class="form-control" name="year"  [(ngModel)]="item.year" >
                    </div>
                    <div class="form-group">
                      <label>Country</label>
                      <input class="form-control" name="country" [(ngModel)]="item.country">
                    </div>
                    <div class="form-group">
                      <label>Genre</label>
                      <input class="form-control" name="genre"  [(ngModel)]="item.genre">
                    </div>
                    <div class="form-group">
                      <label>Actors</label>
                      <input class="form-control" name="actors"  [(ngModel)]="item.actors">
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control" name="description"  [(ngModel)]="item.description"></textarea>
                    </div>


                    <button class="btn btn-primary" type="button" (click)="onCancel(filmForm)">

                      Cancel</button>
                    <button class="btn btn-danger" type="submit" >
                      Add</button>
                  </form>
                </div>
              </div>
              <div class="col md-6"></div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
