*{
  color: white;
  list-style: none;

}
.main{
  overflow: hidden;
  padding: 88px 160px 80px 106px;
  background-size: 50px auto;
  background: url(../../assets/back.gif) no-repeat;
}
.film-body{
width: 1170px;

}
.left-side-film{
  float: left;
}
.right-side-film{
float: right;
  width: 570px;
  padding-right: 50px;
  position: relative;
}
.logo{
  width: 200px;
  height: auto;
}
.buttons{
top:402px;
  position: absolute;
}
button{

  width: 140px;
  border-radius: 30px;
}
tr{
  padding-bottom: 25px;


}
ul{
  padding-left: 0;
  color:black;
}
ul li {
  color:black;
  font-weight: bold;
  border-bottom: 1px solid #e4edf4;
  padding-bottom: 30px;
}
.comments-counter p{
  font-size: 14px;
  color:#FF8679;
}
.comments-counter p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.comment-area{
  background: white;
  padding: 38px 120px 50px 106px;
}
