<div class="film-body" *ngFor="let film of filmList">
  <div class="main">
    <div class="left-side-film">
      <div class="logo">
        <img src="../../assets/logo.gif" alt="logo" width="310px" height="440px">
      </div>
    </div>
    <div class="right-side-film">
      <div class="text-field">
        <h2>{{film.title}}</h2>
        <p>{{film.description}}</p>
        <table>
          <td>
            <tr>COUNTRY</tr>
            <tr>YEAR</tr>
            <tr>GENRE</tr>
            <tr>ACTORS</tr>
          </td>
          <td>
            <tr>{{film.country}}</tr>
            <tr>{{film.year}}</tr>
            <tr>{{film.genre}}</tr>
            <tr>{{film.actors}}</tr>
          </td>
        </table>

      </div>
      <div class="buttons">
        <button type="button" class="btn btn-danger" (click)="onDelete(film.$key)">Delete</button>
        <button type="button" class="btn btn-primary" (click)="onEdit(film)">Edit</button>
      </div>
    </div>
  </div>
  <div class="comment-area" >
    <div class="comments-counter">
      <p (click)="changeStateCom()">Comments: {{commentList.length}}</p>
    </div>
    <div class="comments" *ngIf="isOpenCom">
      <div class="comments-list" >
        <ul>
          <li *ngFor="let comment of commentList">{{comment.name}}</li>
        </ul>
      </div>
      <div class="comments-form">

          <div class="form-group">
            <input class="form-control" [(ngModel)]="comment">
          </div>
          <button type="button" class="btn btn-primary" (click)="addComment(comment)">Add</button>

      </div>
    </div>
  </div>
</div>
