*{
  padding:0;
  margin:0;
  text-decoration: none;
}
.header{
  overflow: hidden;
  width: 1901px;
}
.left-header-side{
  width: 365px;
  background-color: #51afe1;
  float:left;
}
.left-header-side h3{
  font-family: "Times New Roman";
  color: white;
  margin:55px 50px;
}
.right-header-side{
  width: 1535px;
  float:left;
  background-color: #6fcdff;
}
.right-header-side p{
  color: white;
  font-size: 16px;
  font-family: "Times New Roman";
  margin: 60px 0px 60px 100px;
}
.add-icon{
  color:white;
}

